<div class="container top-offset">
	<div class="row">
		<h1><%- person.name %></h1>
		<h1><%- person.twitter %></h1>
		<h1><%- person.skype %></h1>
		<h1><%- person.age %></h1>
		<h1><%- person.target %></h1>
		<h1><%- person.raised %></h1>
	</div>
</div>